---
import All from "../components/All.svelte";
import CPicker from "../components/CPicker.svelte";
---

<div class="absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2">
  <All client:load />
</div>

<CPicker client:load />

<style>

</style>
