---
import CPicker from "../components/CPicker.svelte";
import SaveButton from "../components/SaveButton.svelte";
import ShuffleButton from "../components/ShuffleButton.svelte";
import Avatar from "../components/Avatar.svelte";
---

<div class="w-72 text-center mx-auto mt-20">
  <Avatar client:load />
  <div class="mt-8 mb-8">
    <ShuffleButton client:load />
  </div>
  <CPicker client:load />
  <div class="mt-8">
    <SaveButton client:load />
  </div>
</div>

<style>
  body {
    @apply bg-gray-100;
  }
</style>
